{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}
<form action="/login" method="post" style="max-width: 400px; margin: 0 auto">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="username"
      placeholder="Username"
      type="text"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      name="password"
      placeholder="Password"
      type="password"
      required
    />
  </div>
  <button class="btn btn-primary w-100" type="submit">Log In</button>
</form>
{% endblock %}
